.container {
  background-image: url('components/background.jpg'); /* Путь к изображению в папке public */
  background-size: cover; /* Растягиваем изображение на весь экран */
  background-position: center; /* Центрируем изображение */
  height: 100vh; /* Высота на весь экран */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Чтобы карточки переносились на новую строку */
  gap: 20px; /* Расстояние между карточками */
  padding: 20px; /* Отступы */
}
.content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content button:hover {
  background-color: #0056b3;
}