.container {
  background-image: url('components/background.jpg');
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.content button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content button:hover {
  background-color: #0056b3;
}

.footer {
  padding: 20px 0;
  background: rgba(0,0,0,0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(0,0,0,0.25);
  text-align: center;
}

/* Контент внутри футера */
.footer-content {
  max-width: 600px; /* Ограничиваем ширину */
  margin: 0 auto; /* Центрируем */
}

/* Стили для списка контактов */
.contact-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
}

.contact-list li {
  margin-bottom: 10px; /* Отступ между пунктами */
  font-size: 16px;
  color: #555;
}

.contact-list a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  color: #0077cc; /* Цвет ссылок */
}

.contact-list a:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}